:root {
    --cor-principal: rgb(20, 44, 76);
    --cor-secundaria: rgb(253, 73, 19);
    --cor-tercearia: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/imagemFundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ladoEsquerdo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ladoDireito {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

form {
    height: 30rem;
    width: 25rem;
    background-color: var(--cor-tercearia);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 2rem;
}

#textoCriarConta {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-principal);
    align-self: baseline;
    margin-left: 15%;
}

#textoCadastreSe {
    font-size: 1.1rem;
    font-weight: bold;
    color: gray;
    align-self: baseline;
    margin-left: 15%;
}

#logoPrincipal {
    height: 200px;
}

input {
    border: 2px solid gray;
    outline: none;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

#cadastrar {
    width: 70%;
    height: 3rem;
    color: var(--cor-tercearia);
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    border-radius: 10px;
    transition: transform 0.6s ease;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--cor-secundaria);
    cursor: pointer;
}

#cadastrar:active {
    transform: scale(0.85);
}

#cadastrar:hover {
    transform: scale(1.05);
}

input:focus {
    border-color: var(--cor-secundaria);
}

a:hover {
    text-decoration: underline wavy var(--cor-principal);
}

@media (max-width: 1024px) {
    #logoPrincipal {
        height: 150px;
    }

    form {
        width: 20rem;
        height: 25rem;
        gap: 2.25rem;
    }

    #textoCriarConta {
        font-size: 1.5rem;
    }

    #textoCadastreSe {
        font-size: 0.8rem;
    }
}

@media (max-width: 790px) {
    #logoPrincipal {
        height: 125px;
    }

    form {
        width: 15rem;
        height: 20rem;
        gap: 2rem;
    }

    #textoCriarConta{
        font-size: 1.25rem;
    }

    #textoCadastreSe {
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    #ladoDireito, #ladoEsquerdo {
        flex: 0;
    }

    body {
        background-image: url(../img/imagemFundoMobile.png);
        flex-direction: column;
    }

    form {
        background-color: transparent;
    }

    #textoCriarConta {
        color: var(--cor-tercearia);
    }

    #textoCadastreSe {
        color: var(--cor-tercearia);
    }

    #jaCadastro {
        color: white;
    }

    #cadastrar {
        width: 80%;
        
    }
}